body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    width: 200px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 220px;
    height: 38px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 220px;
    height: 38px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
}

.not-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 220px;
    height: 38px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 18px;
}

.main form {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 200px;
    justify-content: space-between;
}

.main form > input {
    width: 185px;
    height: 30px;
    align-self: center;
    font-size: 20px;
    border: solid;
}

.main form > button {
    width: 180px;
    height: 40px;
    align-self: center;
    background-color: green;
    color: white;
    border: solid;
}

#register-button {
    height: 40px;
    width: 180px;
    background-color: midnightblue;
    color: white;
    margin-top: 25px;
}