/** 共通設定 */
a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

/** ボディ */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 410px;
    align-items: center;
}

.header > h2 {
    height: 10px;
}

.header .back-block {
    display: flex;
    width: 530px;
}

.header .back-arrow {
    font-size: 23px;
    font-weight: bold;
    justify-self: flex-start;
}

.header .back-character {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

.form-field {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.register-error {
    color: white;
    background-color: red;
    font-size: 18px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.input-item {
    border: solid;
    margin-bottom: 10px;
}

input {
    width: 340px;
    height: 30px;
    font-size: 20px;
}

.input-error {
    color: red;
    font-size: 18px;
    margin: 5px 10px;
    font-weight: bold;
}

button {
    margin-top: 10px;
    height: 45px;
    width: 180px;
    background-color: midnightblue;
    color: white;
    border: solid;
}