<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Home / BBSdemo</title>
        <link rel="stylesheet" th:href="@{/css/home.css}">
    </head>
    <body>
        <div class="home">
            <div class=left-sidebar>
                <h1><a th:href="@{/home}">BBSdemo</a></h1>
                <div><a th:href="@{/home}">🏠 Home</a></div>
                <div><a th:href="@{/profile}">👶 Profile</a></div>
                <div><a th:href="@{/logout}">🛑 Logout</a></div>
                <div sec:authorize="hasRole('ADMIN')">🌌 Admin Console</div>
            </div>

            <div class="center">
                <form method="post" action="/add">
                    <textarea name="text_content" placeholder="What's happening?"></textarea>
                    <button type="submit">Post</button>
                </form>

                <div class="contents">
                    <div th:each="content : ${contentList}">
                        <hr>
                        <div class="content-header">
                            <div class="user-name" th:text="${content.userName}"></div>
                            <div class="user-id" th:text="|@${content.userId}|"></div>
                            <div class="concatenate">-</div>
                            <div class="update-time" th:text="${content.updatedAt}"></div>
                        </div>
                        <div class="content-text" th:text="${content.textContent}"></div>
                    </div>
                </div>
            </div>

            <div class="right-sidebar">
                <form method="post" action="/search">
                    <input type="text" name="search_word" placeholder="🔍 Search" />
                </form>
            </div>
        </div>

        <footer>
            <div>footer</div>
        </footer>
    </body>
</html>
