<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Home / BBSdemo</title>
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}">
    </head>
    <body>
        <div class="home">
            <div class=left-sidebar>
                <h1><a th:href="@{/home}">BBSdemo</a></h1>
                <div><a th:href="@{/home}"><i class="fas fa-home fa-2x fa-fw" ></i> Home</a></div>
                <div><a th:href="@{/profile}"><i class="fas fa-user fa-2x fa-fw" ></i> Profile</a></div>
                <div><a th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-2x fa-fw" ></i> Logout</a></div>
                <div sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}"><i class="fad fa-tools fa-lg"></i> Admin Console</a></div>
            </div>

            <div class="center">
                <form method="post" action="/add">
                    <textarea name="text_content" placeholder="What's happening?"></textarea>
                    <button type="submit">Post</button>
                </form>

                <div class="contents">
                    <div th:each="content : ${contentList}">
                        <hr>
                        <div class="content-header">
                            <div class="user-name" th:text="${content.userName}"></div>
                            <div class="user-id" th:text="|@${content.userId}|"></div>
                            <div class="concatenate">-</div>
                            <div class="update-time" th:text="${content.updatedAt}"></div>
                        </div>
                        <div class="content-text" th:text="${content.textContent}"></div>
                    </div>
                </div>

                <footer>
                    <div class="pagination">
                        <div class="page-guide">◀︎</div>
                        <div class="page-guide">1</div>
                        <div class="page-guide">︎2</div>
                        <div class="page-guide">3︎</div>
                        <div class="page-guide">4︎</div>
                        <div class="page-guide">5︎</div>
                        <div class="page-guide">▶︎︎</div>
                    </div>

                    <div class="copyright">Copyright ︎Yasuyuki Ekinaga</div>
                </footer>
            </div>

            <div class="right-sidebar">
                <form method="post" action="/search">
                    <i class="fas fa-search fa-lg"></i>
                    <input type="text" name="search_word" placeholder=" Search" />
                </form>

                <div class="sns-icons">
                    <a class="fab fa-twitter-square fa-3x" href="https://twitter.com/IshiharaSatoumi" target="_blank" rel="noopener noreferrer"></a>
                    <i class="fab fa-github fa-3x"></i>
                </div>
            </div>
        </div>
    </body>
</html>
