<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Login / BBSdemo</title>
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <script th:src="@{/js/dialog.js}"></script>
    </head>
    <body>
        <div class="main">
            <h2>Please Sign in</h2>
            <div class="error" th:if="${param.error}">Bad Credential</div>
            <div class="logout" th:if="${param.logout}">Successfully Logout</div>
            <div class="not-login" th:if="${notLogIn}">Login again</div>

            <form method="post" th:action="@{/login}">
                <input type="text" name="username" placeholder="UserId" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit">Sign in</button>
            </form>

            <button type="submit" id="register-button" onclick="modal_open()">Create</button>
        </div>

        <!-- 登録モーダルのオーバーレイ -->
        <div id="modal-overlay"></div>

        <!-- 登録モーダル -->
        <div id="register-modal">
            <h2>Create an Account</h2>
            <form method="post" th:action="@{/signup}">
                <input type="hidden" name="role" value="1" />
                <input type="text" name="user_id" placeholder="UserId        (14Characters or less)" />
                <input type="text" name="user_name" placeholder="UserName  (24Characters or less)" />
                <input type="password" name="password" placeholder="Password   (128Characters or less)" />
                <input type="email" name="email" placeholder="Email" />
                <div id="modal-buttons">
                    <button class="submit-button" type="submit">Create</button>
                    <button class="reset-button" type="reset" onclick="modal_close()">Cancel</button>
                </div>
            </form>
        </div>
    </body>
</html>